
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />

<a href="/Admin/Blog/ExportStaticExcelBlogList/" class="btn btn-primary">Excel Listesini İndir</a>

@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Listesini İndir</button>

<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList/");
    }
</script>*@