@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



@{
    string color = "";
    string statusColor = "";
    string checkStatus = "";
    string buttonStatusColor = "";
}

<h1>Gelen Kutusu</h1>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Mesaj Durumu</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        //switch (item.BlogStatus)
        //{
        //    case true:
        //        statusColor = "badge rounded-pill bg-success";
        //        break;
        //    case false:
        //        statusColor = "badge rounded-pill bg-danger";
        //        break;
        //}

        //if (item.BlogStatus == true)
        //{
        //    durummm = "Şuan Aktif";
        //}
        //else
        //{
        //    durummm = " Şuan Pasif";
        //}
        <tr>
            <th>@item.MessageID</th>
            <td>@item.Subject</td>
            <td>@item.SenderUser.WriterName</td>
            <td> @(((DateTime)item.MessageDate).ToString("dd MMMM yyyy"))</td>
            <td>
                @if (item.MessageStatus)
                {
                    <span class="badge badge-info">Mesaj Okundu!</span>
                }
                else
                {
                    <span class="badge badge-success">Mesaj Okunmadı!</span>
                }
            </td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
    }
</table>
<br />
<a href="/Message/MessageAdd/" class="btn btn-primary">Yeni Mesaj Oluştur</a>