@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @if (Model.Count() == 0)
    {
        <div class="media text-muted">
            <h5>Henüz bu bloğ'a bir yorum yapılmamış. İlk yorumu yapan siz olun!</h5>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="media">
                <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
                <div class="media-body">
                    <h5 class="mt-0">@item.CommentUserName</h5>
                    <p>
                        @item.CommentContent
                    </p>
                </div>
            </div>
            <br />
        }
    }
</div>